body {
    max-width: 32em;
    font-family: 'Lato';
    padding: 4em 2em;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.33;
}

pre, code {
<<<<<<< HEAD
    font-family: 'Lato';
=======
    font-family: 'Palatino';
>>>>>>> 65d1b68cc977937b4c0ee5e642e3a92b7152d232
}

h1, h2 { font-family: 'EB Garamond'; }
