body {
    max-width: 32em;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    padding: 4em 2em;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.33;
}

pre, code {
    font-family: 'Source Sans Pro';
    font-weight: 200;
}

h1, h2 { font-family: inherit; }
