body {
    max-width: 32em;
    font-family: 'Roboto';
    padding: 4em 2em;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.33;
}

pre, code {
    font-family: 'Roboto';
}

h1, h2 { font-family: 'EB Garamond'; }
