@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,400i,700,700i');
html {
  font-size: 15px;
}

body {
  font-family: 'Source Sans Pro', 'Fira Sans', sans;
  line-height: 1.33;
  margin: 2em 3em;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: inherit;
}


ol, ul {
  font-size: inherit;
}

ul {
  line-height: 1.33;
  list-style: none;
  padding: 0 0 0 1.33em;
  /* change LEFT */
  margin: 0 0 0 -1.33em;
  /* change LEFT */
}

article {
  margin: 0 0 3rem 0;
}


ul li:not(:last-child)>ul, ul li:not(:last-child)>p {
  border: 1px dashed black;
  border-width: 0 0 0 1px;
}

ul li:last-child>ul {
  border: none
}

ul li {
  padding: .33em 0 0 0;
  margin-left: 1.33em;
  /* change LEFT */
  /* cursor: pointer; */
  /* white-space: nowrap; */
}


ul li:not(.remarry):before {
  display: inline-block;
  width: .67em;
  height: .67em;
  vertical-align: top;
  margin: 0em .33em 0 -1.33em;
  /* change LEFT */
  padding: 0 0 0 0em;
  content: '';
  border: 1px solid black;
  border-width: 0 0 1px 1px;
}

.spouse {
  /* opacity: .5; */
  display: inline-block !important;
}

.spouse::before {
  content: '+';
  color: #c60;
  font-weight: bold;
  margin-right: .1em;
}
header h1.spouse::before {
  position: absolute;
  margin-left: -1rem;
}

.M::after, .F::after {
  font-size: .8em;
  font-weight: bold;
  margin: 0 .1rem 0 .3rem;
}

.M::after {
  color: #abc;
  content: "S";
}

.F::after {
  color: #cab;
  content: "K";
}

.path {
  position: absolute;
  left: 2rem;
  width: 5rem;
  display: inline-block;
  text-align: left;
  font-family: 'Fira Mono';
  font-weight: 100;
  font-size: .8rem;
  padding-top: .25rem;
  vertical-align: middle;
  letter-spacing: 1px;
  color: #bbb;
}

ul .fold a:not(:link) {
  border-bottom: 1px solid black;
}

ul .fold>ul, ul .fold>p, ul .fold:not(.remarry)+.remarry {
  display: none;
}

h1 .path {
  padding-top: .5rem;
}

h1 {
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem 0;
}
header h1 {
  margin: .167em 0 0 0;
}

h1 .path a {}

/* h1 a::before {
    font-weight: normal;
    font-size: 1rem;
    content: '<';
    padding: 0 .25em;
    color: #ccc;
} */

h2, nav h1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0;
  font-weight: normal;
  color: #999;
}

nav a:hover { text-decoration: underline; }
nav h1 a:hover { color: black; text-decoration: none; }

nav h1 a.path {
  font-size: 2em;
  line-height: 1;
  padding: 0 0;
  margin: 0 0;
}

a:hover>.path, a.path:hover {
  color: black
}

/* ul a {
  display: inline-block;
} */

q {
  opacity: .5;
}

q::before {
  content: '‘';
}

q::after {
  content: '’';
}

nav {
  margin: 1em 0;
}

article :not(sup) a:link {
  border-bottom: 1px dotted #abc !important;
}

article a:link:hover {
  background: #def;
}


sup {
  padding: 0 1px;
  line-height: 1;
}

footer {
  margin: 2rem 0;
  font-size: .88em;
}

ol {
  padding: 1em;
}

p {
  margin: 1em 0;
}

ul li p, header p {
  font-style: italic;
  line-height: 1.1;
  font-size: .8em;
  margin: .25rem 0 0 -1.33rem;
  /* change LEFT */
  color: rgba(0, 0, 0, .5);
  padding: 0 0 0 1.33rem;
  /* change LEFT */
}



/* .branch {
  border: none !important;
  font-weight: bold;
} */

article .branch:link {
  position: relative;
  border: none !important;
  /* font-weight: bold; */
  letter-spacing: .05em;
  font-size: .75em;
  color: #7be;
  color: white;
  padding: .03125em .33em;
  background: #cde;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: -.125em .33em 0 .33em;
  */
}

.branch:hover {
  color: white;
  background: #69c !important;
}

.bd {
  font-weight: normal;
  font-size: .8em;
  color: #999;
  display: inline-block;
}

/*
.bd::before {
  content: "(";
}

.bd::after {
  content: ")";
} */

/* this is to make space for path */

body {
  padding-left: 5rem;
}


/* name changes  */

s {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  position: relative;
}

s:after {
  font-size: 1em;
  color: #6c9;
  margin-left: .33em;
  content: '→';
  text-decoration: none;
}

/* s:before {
  font-size: 1em;
  border-bottom: .1em solid #6c9;
  opacity: .5;
  position: absolute;
  content: "";
  width: 100%;
  height: .6em;
} */

.unknown {
  font-weight: bold;
  color: #999;
  display: none;
}

header {
  margin: 1em 0 .25rem 0;
}
header p {
  font-size: .88em;
  margin-top: .167em;
}
header p b {
  font-weight: normal;
  color: black;
}

header+p {
  color: rgba(0,0,0,.4);
  margin: 0.167em 0 .33em 0;
}

.nee {
  font-weight: normal;
}
.nee::before, .nee::after {
  color: rgba(0,0,0,.33);
}
.nee::before {
  content: "(";
}
.nee::after {
  content: ")";
}

.remarrymark {
  color: #999;
  font-weight: bold;
}

.spouse .sur {
  font-weight: bold;
}
.spouse s {
  display: none;
}
