
{% for p1 in h.family[0].children %}

    {% if forloop.first %}<ul>{% endif %}
    {% include import.liquid arg=p1 %}
    {% if q.family %}
        {% for thisfam in q.family %}
        <li class="{% if forloop.first %}{% else %}remarry{% endif %}">
            {% include loop.liquid p=q treelink=l from=swap fam=thisfam firstmarriage=forloop.first %}
            {% for p2 in thisfam.children %}

                    {% if forloop.first %}<ul>{% endif %}
                        {% include import.liquid arg=p2 %}
                        {% if q.family %}
                            {% for thisfam in q.family %}
                            <li class="{% if forloop.first %}{% else %}remarry{% endif %}">
                                {% include loop.liquid p=q treelink=l from=swap fam=thisfam firstmarriage=forloop.first %}
                                {% for p3 in thisfam.children %}

                                    {% if forloop.first %}<ul>{% endif %}
                                    {% include import.liquid arg=p3 %}
                                    <li>
                                      {% include loop.liquid p=q treelink=l from=swap firstmarriage=true %}
                                    </li>
                                    {% if forloop.last %}</ul>{% endif %}

                                {% endfor %}
                            </li>
                            {% include import.liquid arg=p2 %}
                            {% endfor %}
                        {% else %}
                            <li>{% include loop.liquid p=q firstmarriage=true %}</li>
                        {% endif %}

                    {% if forloop.last %}</ul>{% endif %}

            {% endfor %}
        </li>
        {% include import.liquid arg=p1 %}
        {% endfor %}
    {% else %}
        <li>{% include loop.liquid p=q firstmarriage=true %}</li>
    {% endif %}

{% if forloop.last %}</ul>{% endif %}
{% endfor %}
