{% assign q=include.p %}
{% assign f=include.p.family %}
{% if f.children %}<a style="cursor:pointer; display:inline-block; margin-right:.1em">
{% else %}<span style="display:inline-block; margin-right:.1em">
{% endif %}

{% include name.liquid nam=q %}

{% if f.children %}</a>
{% else %}</span>
{% endif %}

{% if f.spouse %}
  {% if f.spouse.link %}<a href="{{f.spouse.link}}">{% endif %}
    <span class="spouse">
      {% include name.liquid nam=f.spouse %}
    </span>
  {% if f.spouse.link %}</a>{% endif %}
{% endif %}

{% if include.treelink %}
  <a class="branch" title="Go to {{ q.name }}’s branch" href="{{include.treelink}}">Branch &rarr;</a>
{% endif %}
