<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ page:collection }}: {{ site.data.[page:collection].[page.title].name }}</title>
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/tree.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>
<body>

  <nav>
    <h1><a href="{{ site.baseurl }}/">Family</a> › <a href="{{ site.baseurl }}/{{ page:collection }}">{{ page:collection }}</a></h1>
    {% for a in site.data.[page:collection].[page.title].anc reversed %}
    <a href="{{ a }}">{{ site.data.[page:collection].[a].name }}</a> ›
    {% endfor %}
    <span class="{{ site.data.[page.title].gen }}">{{ site.data.[page:collection].[page.title].name }}</span>
  </nav>

  <article>
    {% assign h=site.data.[page:collection].[page.title] %}
    {% include header.liquid p=h %}

    {% for p1 in site.data.[page:collection].[page.title].family.children %}

      {% if forloop.first %}<ul>{% endif %}
      <li>
        {% if p1.import %}
          {% if p1.from %}
            {% assign q=site.data.[p1.from].[p1.import] %}
            {% assign swap=p1.from %}
          {% else %}
            {% assign q=site.data.[page:collection].[p1.import] %}
            {% assign swap=false %}
          {% endif %}
          {% assign l=p1.import %}
        {% else %}
          {% assign q=p1 %}
          {% assign l=false %}
          {% assign swap=false %}
        {% endif %}

        {% include loop.liquid p=q treelink=l from=swap%}
        {% for p2 in q.family.children %}

        {% if forloop.first %}<ul>{% endif %}
          <!-- impement this for subnested -->
          <li>
            {% include loop.liquid p=p2 %}
            {% for p3 in p2.family.children %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                {% include loop.liquid p=p3 %}
                {% for p4 in p3.family.children %}
                {% if forloop.first %} <ul>{% endif %}
                  <li>
                    {% include loop.liquid p=p4%}
                    {% for p5 in p4.family.children %}
                    {% if forloop.first %}<ul>{% endif %}
                      <li>
                        {% include loop.liquid p=p5%}
                      </li>
                      {% if forloop.last %}</ul>{% endif %} {% endfor %}
                  </li>
                  {% if forloop.last %}</ul>{% endif %} {% endfor %}
              </li>
              {% if forloop.last %}</ul>{% endif %} {% endfor %}
          </li>
          {% if forloop.last %}</ul>{% endif %} {% endfor %}
      </li>
      {% if forloop.last %}</ul>{% endif %} {% endfor %}
  </article>

  <script src="{{ site.baseurl }}/js/fold.js"></script>

  <article>
    {{ content }}
  </article>

</body>
</html>
