<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.family }}{% if page.title %}: {{ page.title }}{% endif %}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/tree.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <style>
      {% if site.data.[page.title].head.id %}
        article, nav {
          margin-left: 5em;
        }
      {% endif %}
    </style>

  </head>
<body>

<nav>
    <h1>
        {{ page:collection }}
    </h1>
</nav>

<article>
    <h1>
      {{ site.data.[page.title].head.name }}
    </h1>

{% for p1 in site.data.[page.title].family %}
  {% if forloop.first %}<ul>{% endif %}
    <li>
      {% include loop.liquid p=p1 %}
            {% for p2 in p1.children %}
            {% if forloop.first %}<ul>{% endif %}
              <li>
                {% include loop.liquid p=p2 %}
                    {% for p3 in p2.children %}
                    {% if forloop.first %}<ul>{% endif %}
                      <li>
                        {% include loop.liquid p=p3 %}
                              {% for p4 in p3.children %}
                              {% if forloop.first %}<ul>{% endif %}
                                <li>
                                  {% include loop.liquid p=p4%}
                                </li>
                              {% if forloop.last %}</ul>{% endif %}
                              {% endfor %}
                      </li>
                    {% if forloop.last %}</ul>{% endif %}
                    {% endfor %}
              </li>
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
    </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</article>

<script src="{{ site.baseurl }}/js/fold.js"></script>

<article>
  {{ content }}
</article>

</body>
</html>
